html, body {
    background-color: #424343;
    color: #f9a821;
    height: 100%;
}

body {
    margin: 0;
}

.container {
    height: 70%;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header {
    height: 10%;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header h4 {
    opacity: 0;
    -webkit-transition: opacity 500ms linear;
    transition: opacity 500ms linear;
}

.nav {
    height: 20%;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.message, iframe {
    max-height: 50%;
    opacity: 1;
    -webkit-transition: opacity 500ms linear;
    transition: opacity 500ms linear;
}

.image-wrapper {
    display: flex;
    justify-content: center;
}